@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

:root {
  --color-primary: #0f172a; // primaire Figma
  --color-secondary: #9333ea;

  --bg: #0f172a;
  --text: #ffffff;
}

body {
  margin: 0;

  font-family: Roboto, system-ui, -apple-system, "Segoe UI", Arial, sans-serif;

  background-color: var(--bg);

  color: var(--text);
}
