@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

:root {
  --color-primary: #0f172a;
  --color-secondary: #9333ea; // primaire Figma

  --bg: #0f172a;
  --text: #ffffff;
}

body {
  margin: 0;

  list-style-type: none !important;

  font-family: Roboto, system-ui, -apple-system, "Segoe UI", Arial, sans-serif;

  background-color: var(--bg);

  color: var(--text);
}

.page-nav-footer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
