.register-container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

form {
  margin: 50px auto;
}

.login-links {
  text-decoration: underline;
  color: #be78ff !important;

  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
}

.go-to-register-text {
  margin-top: 30px !important;
}
