.login-container {
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
}

form {
  margin: 50px auto;
}

.go-to-login-link {
  text-decoration: underline;
  color: #be78ff !important;

  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
}

.login-footer-links {
  margin-top: 30px !important;
  text-align: center;
}

.go-to-login-text,
.forgot-password-link {
  text-align: center;
}
